
<h2>
    sign up
</h2>
<form action="/users" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 <hr>   <p>
        name
        <input type='text' id='Name' name='name'>
    </p>

<hr>
    <p>
        email
        <input type="text" id="Email" name = "email">
    </p>

<hr>    <p>
        password
        <input type="password" id="Password" name = "password">
    </p>

<hr>
    <p>
     confirm password
        <input type="password" id="Password_confirm" name = "password_confirmation">
    </p>
    <hr>
    <input type="submit" name="register" value="Register">
    <hr>
</form>